* {
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    width: auto;
    height: auto;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FBFAF5;
}

header {
    background-color: #EFEFD7;
    width: 100%;
    height: auto;
}

.logo {
    width: auto;
    height: 80px;
    display: block;
    margin: 0 auto;
}

nav {
    position: absolute;
}

header nav{
    top: 30px;
    right: 0;
}

nav ul {
    margin-right: 50px;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 0.5rem;
}

header div {
    position: relative;
    width: 100%;
}

header img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

header h1 {
    position: absolute;
    top: 300px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

a {
    color: #000000;
    background-color: #EFEFD7;
    font-size: 20px;
}

main {
    width: auto;
    height: auto;
    margin: 20px 30px;
}

.waku {
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 10px solid #A7A796;
    text-align: center;
}

.waku a{
    font-size: 30px;
    background-color: #EFEFD7;
}

main h1{
    width: fit-content;
    margin: 0px auto 15px;
    border-bottom: 10px solid #F1E4B5;
}

article{
   width: 600px;
   height: auto;
   margin-right: auto;
}

section{
    display: flex;
    flex-flow: row wrap;
}

.osyare{
    position: relative;
}

main img{
    width: 25vw;
    margin:0 90px 51px 0;
    height: fit-content;
    object-fit: cover;
    border: 10px solid #A7A796;
}

.kuwasiku{
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-left: 100px;
    border: 0px;
}

main a{
    background-color: #00000000;
}

.content{
    position: absolute;
    top: 70px;
    left: 20.6vw;
    width: 25vw;
    height: 300px;
    z-index: -1;
    background-color: #EFEFD7;
    border: 10px solid #A7A796;
}

main h2{
    margin-left: 85px;
    font-size: 30px;
}
main p{
    margin-top: 10px;
    margin-left: 85px;
    font-size: 18px;
    word-break: keep-all;
}

footer{
    margin-top: 50px;
    background-color: #EFEFD7;
    width: 100%;
    height: auto;
    position: relative;
    border: solid #A7A796;
    border-top-width: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

footer nav{
    bottom: 20px;
    left: 20px;
}

address{
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
}